<link
  rel="stylesheet"
  type="text/css"
  href="libs/bootstrap/css/theme_bootstrap.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="libs/fontawesome/dist/all.min.css"
/>
<link rel="stylesheet" type="text/css" href="libs/notyf/notyf.min.css" />
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<script type="text/javascript" src="libs/jquery-3.6.3.min.js"></script>
<script
  type="text/javascript"
  src="libs/bootstrap/bootstrap.bundle.min.js"
></script>
<script type="text/javascript" src="libs/fontawesome/dist/all.min.js"></script>
<script type="text/javascript" src="libs/notyf/notyf.min.js"></script>
<script
  type="text/javascript"
  src="libs/contextMenuPlugin/jquery.npContextMenu.js"
></script>
<script type="text/javascript" src="libs/CookieManager.js"></script>
<script type="text/javascript" src="scripts/contextMenu.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>
<script type="text/javascript" src="scripts/uploadMgr.js"></script>
<link rel="shortcut icon" href="images/logo.png" type="image/png" />
