<div class="modal fade" id="imgViewModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent">
        <div class="d-flex justify-content-around position-absolute image_view_header">
            <div class="btn-group" role="group">
            <button class="btn btn-col-info" onclick="openImg();">
                <i class="fa-solid fa-arrow-down"></i>
            </button>
            <button class="btn btn-col-danger" data-bs-dismiss="modal">
                <i class="fa-solid fa-xmark"></i>
            </button>
            </div>
        </div>
        <div class="modal-body text-center" style="padding: 0">
            <img src="" alt="" id="imgPreview" class="img-fluid" />
        </div>
        </div>
    </div>
</div>