<div class="modal fade" id="fRenameModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rename File/Folder</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                <div class="input-group">
                    <input
                    type="text"
                    class="form-control"
                    id="newFName"
                    placeholder="New File/Folder Name..."
                    />
                    <button class="btn btn-primary" id="renMBtn">
                    Rename
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>