<div class="modal fade" id="fCreateModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Create Folder</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
            <div class="input-group">
                <input
                type="text"
                class="form-control"
                id="newFolName"
                placeholder="New Folder Name..."
                />
                <button class="btn btn-primary" id="newMfBtn">
                Create Folder
                </button>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>