<section id="init_wait">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <img src="images/logo.png" class="static_logo" style="display: none" />
        <div class="logo_wrapper mb-3">
          <img src="images/logo_bg.png" class="img-fluid" />
          <img src="images/logo_fg.png" class="logo_fg" />
        </div>
        <h4>
          <span id="init_wait_text">Waiting for authentication...</span>
        </h4>
      </div>
    </div>
  </div>
</section>
