<ul id="contextMenu" class="dropdown-menu" style="display: none">
    <li class="ctx-head">Options</li>
    <li class="dropdown-divider"></li>
    <li class="dropdown-item">
      <a
        class="ctx-item"
        tabindex="-1"
        npaction="ctx_dwnldItem"
        ><i class="fas fa-download"></i>&nbsp;&nbsp;Download</a
      >
    </li>
    <li class="dropdown-item ext-ctx">
      <a
        class="ctx-item"
        tabindex="-1"
        npaction="ctx_renameItem"
        ><i class="fas fa-i-cursor"></i>&nbsp;&nbsp;Rename</a
      >
    </li>
    <li class="dropdown-item ctx-item-danger ext-ctx">
      <a
        class="ctx-item"
        tabindex="-1"
        npaction="ctx_delItem"
        ><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</a
      >
    </li>
</ul>